<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/app.css"> <!-- add last to override MDLs own colors :) -->
</head>
<body>

<!--

<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a href="/" class="item active">
      Home
    </a>
    <a href="/" class="item">
      Messages
    </a>
    <a href="/blogs/new" class="item">
      New
    </a>
  </div>
</div>

-->