<% include ./partials/header %>

    <div class="ui main text container segment new-post">
        <div class="ui huge header"> Log in
        </div>
        <form action="/login" method="POST" class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Name" required>
            </div>

            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="ui secondary basic button" onclick="location.href='/'">Back</button>
            <button type="submit" class="ui secondary basic button post-button">Log in</button>
        </form>
        
    </div>
    

<script>
</script>

<% include ./partials/footer %>