body {
    font-family: 'Roboto Mono', monospace;
}



.ui.secondary.pointing.menu {
    border-bottom: none;
    margin-bottom: 4%;
}

.ui.segments.header-class {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
    letter-spacing: 3px;
    padding: 2%;
    margin-bottom: 5%; 
    font-family: 'Roboto Mono', monospace;



}


.ui.card, .ui.cards>.card {
    width: inherit;
    font-family: 'Roboto Mono', monospace;
    border-radius: 0%;
}

.ui.main.text.container.index-view {
    padding: 5%;
}

.ui.card>.content.index-view-content{
 background: white;
}

.ui.inverted.card>.content>.header, .ui.inverted.card>.content>.meta, .ui.inverted.card>.content>.description, .ui.inverted.cards>.card>.content>.header {
    color: black;
}


/* 
A / links / hover
*/


a:hover {
    color: #d29810;

}

.ui.card>.content>a.header:hover, .ui.cards>.card>.content>a.header:hover {
    color: #d29810;
}

.ui.inverted.card>.extra a:not(.ui):hover, .ui.inverted.cards>.card>.extra a:not(.ui):hover {
    color: #f0dd87;
}